:root {
  --primary: #24CAFF;
  --primary-color: #000;
  --primary-light: #fff;
  --secondary: #DBDBDB;
  --warning: #FFAB5E;
  --error: #CE0000;

  --button-padding-vertical: .5rem;
  --button-padding-horizontal: 1.5rem;
}